# Postgres
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# MongoDB
MONGODB_URL=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=

# Github Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook Auth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Apple Auth
APPLE_ID=
APPLE_SECRET=
